.gameContainer {
    display: flex;
    gap: 15px;
}

.cardContainer {
    display: grid;
    justify-content: center;
    gap: 0.5rem;
    grid-template-rows: repeat(5, 8vw);
    grid-template-columns: repeat(5, 13vw);
}

.card {
    display: grid;
    grid-template-rows: 60% 40%;
    border-radius: 0.8rem;
    border: 0.6rem solid;
}

.card-word {
    display: grid;
    justify-self: center;
    align-self: center;
    width: 90%;
    height: 85%;
    border-radius: 0 0 5px 5px;
    background-color: white;
    text-align: center;
}

.clueContainer {

}

.clueLine {
    display: flex;
    width: 15vw;
    word-break: break-all;
    background-color: green;
    border: black solid 3px;
    border-radius: 10px;
    padding: 10px;
}